---
import NavScript from "../javascriptComponents/navScript.astro";
import { Frontmatter } from "../../config";
---

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="{frontmatter.content}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- ../../src/js/main.js -->
<!-- /src/main.js -->