
<ul class="right_menu">
    <li><a href="">Setting up Database</a></li>
    <li><a href="">SQL Commands Categories</a></li>
    <li><a href="">CREATE Command</a></li>
    <li><a href="">SELECT Command</a></li>
    <li><a href="">DELETE Command</a></li>
    <li><a href="">DROP Table</a></li>
    <li><a href="">TRUNCATE Table</a></li>
    <li><a href="">WHERE Condition</a></li>
    <li><a href="">ORDER BY Clause</a></li>
    <li><a href="">AND OR Operators</a></li>
    <li><a href="">BETWEEN Operator</a></li>
    <li><a href="">IN Operator</a></li>
    <li><a href="">COUNT() Function</a></li>
    <li><a href="">SUM() Function</a></li>
    <li><a href="">AVG() Function</a></li>
    <li><a href="">MIN() Function</a></li>
    <li><a href="">MAX() Function</a></li>
    <li><a href="">GROUP BY Clause</a></li>
    <li><a href="">HAVING Clause</a></li>
    <li><a href="">SQL Sub Queries</a></li>
    <li><a href="">INNER Join</a></li>
    <li><a href="">LEFT Join</a></li>
    <li><a href="">RIGHT Join</a></li>
    <li><a href="">OUTER Join</a></li>
    <li><a href="">FULL Join</a></li>
    <li><a href="">Analytical Functions</a></li>
    <li><a href="">ROW() Function</a></li>
    <li><a href="">RANK() Function</a></li>
    <li><a href="">DENSE_RANK() Function</a></li>
    <li><a href="">FIRST_VALUE() Function</a></li>
    <li><a href="">LAST_VALUE() Function</a></li>
    <li><a href="">LAG() Function</a></li>
</ul>