@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap");
@import url("./prism.css");

:root {
  --primary-dark: #222831; /* footer and nav hover bg color */
  --secondary-dark: #30475e; /* Nav menu bgcolor*/

  --light-grey: #dddddd; /* body bg color and color for white text */

  --orange-shade: #f05454; /* links hover - nav and footer */

  --code-block-bg: #bbbbbb; /* code blocks */

  --primary-text: #1b1b2f; /* all text color */
  --secondary-text: #bbbbbb; /* footer links */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use the variables */
body {
  /* background-color: var(--light-grey); */
  background-color: #f5f5f5;
  color: var(--primary-text);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  display: block;
  margin: 20px 0px;
  color: var(--orange-shade);
}

h3 {
  
}

p {
  line-height: 30px;
}

.basic_dimensions {
  width: 80%;
  margin: 0 auto;
}

.common_padding {
  padding: 20px 0;
}

.common_content_padding {
  padding: 35px 10px;
}

.basic_flex_row {
  display: flex;
  flex-direction: row;
}

.basic_flex_column {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  /* line-height: 50px; */
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

.baseBtn {
  font-family: sans-serif;
  background-color: none;
  /* color: var(--primary-text); */
  border: none;
  /* border-radius: 3px; */
  padding: 20px 40px;
}

.baseBtn:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
  transition: 0.2s ease-in-out;
}

.baseBtn:active,
.nextPrev > a:active {
  transform: translateY(1px);
}

.basePara {
  line-height: 30px;
}

/* Main Section Styling */
.mainBlock {
  /* background-color: palegreen; */
  /* height: 800px; */
  min-height: 700px;
  justify-content: space-between;
}

.col_left {
  /* background-color: goldenrod; */
  width: 65%;
  padding-right: 30px;
  border-right: 1px solid var(--secondary-dark);
  /* height: 800px; */
}

.col_right {
  /* background-color: #E9EDFF; */
  /* background-color: #010048; */
  width: 35%;
  padding-left: 30px;
  padding-right: 30px;
  /* height : 800px; */
}
/* 
.col_right > h3 {
} */

.rightMenuHdr{
  background-color: var(--secondary-dark);
  padding:10px;
  border-radius: 3px;
}

.contentLinks {
  color: var(--orange-shade);
  font-weight: bold;
}

.contentLinks:hover {
  color: var(--primary-dark);
}

.ul_list {
  /* margin: 10px 0px; */
  line-height: 50px;
}

.ul_list > li > a {
  display: block;
  height: 50px;
  padding: 0px 10px;
  border-radius: 3px;
  /* background-color: #04981A; */
}

.ul_list > li > a:hover {
  background-color: var(--primary-dark);
  color: var(--orange-shade);
  /* border-right: 10px solid var(--primary-dark); */
}

.nextPrev {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nextPrev > a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  background-color: var(--secondary-dark);
  color: var(--light-grey);
  border-radius: 3px;
}

.nextPrev > a:hover {
  background-color: var(--primary-dark);
  color: var(--orange-shade);
}

/* End of Main Section Styling*/


.copyBtn {
  /* position: relative;
  float:right;
  margin: 15px 15px; */
  height:50px;
  width: 100px;
  padding: 0px 5px;
  background-color: #7c2ee2;
  color:white;
  border:none;
  /* margin-left: 86%; */
  float:right;
  border-radius: 3px;
}

.copyBtn:hover{
  cursor: pointer;
}

.copyBtn:active {
  transform: translateY(1%);
}

.codeBlock {
  /* background-color: var(--code-block-bg); */
  /* background-color: #dcdcdc; */
  /* /* background-color: var(--primary-dark); */
/*  
  padding: 15px;
  font-size: 0.9rem;
  font-weight:bold;  */
  /* color: #141e61; */
  /* color: #60BEFF; */
  /* color: #1776B8 ;
  border-radius: 3px;
  min-height: 200px;
  font-family:"Inconsolata";
  border: 1px solid var(--secondary-dark);;
  border-style:ridge; */
  width:100%; 
  margin-bottom: 32px;
  /* padding: 20px; */
  background-color: #2d2d2d;
  float: right;
  overflow-x: scroll;
  border-radius: 3px;
}


/* 
.codeComments {
  color: #1e8449;
}

.warningText {
  color: #d35400;
} */
