---
import Layout from "../layouts/webLayout.astro";

const title = "index page"
const description = "SQL Site is a resourceful website for SQL, TSQL, and Data Analytics"
const keywords = "SQL, TSQL, What is SQL, Structured Query Langauge, Relational Databases, Explanation, Types of RDBMS"
---

<Layout title= {title} description = {description} keywords = {keywords}>
  <h1>Welcome to SQLSite</h1>
  <h5>A resourceful website to understand SQL Concepts and Queries</h5>
  <br />
  <hr>
  <br />
  <p class="basePara">
    SQL acronym stands for Structured Query Language. It is use to work with Relational
    Databases Systems to manage data in terms of Inserting, Updating, Deleting, and Selecting.
    It is widely used and is amongst the popular languages. 
  </p>
  <br />
  <p class="basePara">
    SQL is Generic. There are many Relational Database System Software in the market like MySQL,
    MS SQL Server, Oracle Database, Postgre SQL etc. Some of the are open-source licensed and others 
    are commercial licensed. Example of open-source are MySQL, Postgre SQL. MS SQL Server and Oracle 
    are the other type.
  </p>
  <br/>
  <p class="basePara">
    It is highly recommended language in the IT industry to adopt and learn. You can work with huge amount of 
    data. Data Analyst is one of the hot position in the market. Likewise SQL Developer, Database Administration, 
    T-SQL Developer and Database Developer. All these positions requires basic knowledge of Generic SQL. Once you learn 
    the basics, you can choose any Relational Databases as mentioned above and become an Analyst or Developer. 
  </p>
  <br />
  <h3>Let's get Started !! </h3>
  <br />

  <div class="basic_flex_row nextPrev">
    <a href="/">Home</a>
    <a href="/sqlpages/1_sqlhome">Next</a>
  </div>
  <br>
  <hr>
  <br>
</Layout>