---
import globalStyles from "../styles/1_globalStyles.css"
import navStyles from "../styles/2_navStyles.css";
import footerStyles from "../styles/3_footerStyles.css";

/* Media Queries */
import media_700 from "../styles/4_media_700_responsive.css";

---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SQLSite</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href={ globalStyles }/>
    <link rel="stylesheet" href={ navStyles }/> -->
    <script type="text/javascript">
      function showMenu() {
        var menu = document.getElementById("hdnMenu");
        //menu.classList.add("hiddenMenuDisplay");
        menu.classList.toggle("hiddenMenuDisplay");
      }
    </script>
  </head>
  <body>
    <!-- Start of the Nav Block -->
      <nav class="navBlock">
        <!-- Icon/sitename in text -->
        <!-- menuItems -->
        <!-- Search bar with button -->
        <div class="common_padding basic_flex_row iconSearch">
          <p class="icon"><a href="/">SQLSite</a></p>
          <form action="./search" method="GET" class="searchForm basic_flex_row" target="_blank">
            <input
              type="search"
              placeholder="Search our site"
              class="searchBar"
            />
            <input type="submit" value="Search" class="baseBtn searchBtn" />
          </form>
        </div>
        <div class="menuItems">
          <div class="basic_flex_row basic_links menuLinks">
              <a href="/" class="">Home</a>
              <a href="#" class="">SQL</a>
              <a href="#" class="">T-SQL</a>
              <a href="#" class="">SQL Server</a>
              <a href="#" class="">Concepts</a>
              <a href="#" class="">Queries</a>
              <a href="#" class="">Interview Questions</a>
            <!-- <button class="hamMenu">
              <span class="hamLine1"></span>
              <span class="hamLine2"></span>
              <span class="hamLine3"></span>
            </button> -->
          </div>
        </div>
      </nav>
      <!-- End of NavMenu -->
      <!-- Hamburger MenuButton for Responsive Design -->
      <div class="hamMenu">
        <button class="hamBtn" onclick="showMenu()">
          <span class="hamLine1"></span>
          <span class="hamLine2"></span>
          <span class="hamLine3"></span>
        </button>
      </div>
      <!-- End of Hamburger MenuButton -->
      <!-- Hidden Menu -->
      <div class="hiddenMenu" id="hdnMenu">
        <ul>
          <li><a href="/" class="">Home</a></li>
          <li><a href="#" class="">SQL</a></li>
          <li> <a href="#" class="">T-SQL</a></li>
          <li><a href="#" class="">SQL Server</a></li>
          <li><a href="#" class="">Concepts</a></li>
          <li> <a href="#" class="">Queries</a></li>
          <li><a href="#" class="">Interview Questions</a></li>
        </ul>
      </div>
      <!-- End of Hidden Menu -->
      <!-- Start of the Main Block -->
      <div class="basic_dimensions basic_flex_row mainBlock">
        <div class="common_content_padding col_left">
          <slot />
        </div>
        <div class="common_content_padding col_right">
          <h3>Related Links</h3>
          <hr>
          <ul class="ul_list">
          <li><a href="">Relational Databases</a></li>
          <li><a href="">NoSQL Databases</a></li>
          <li><a href="">SQL Basic Queries</a></li>
          <li><a href="">SQL Joins</a></li>
          <li><a href="">Stored Procedures and Functions</a></li>
          <li><a href="">Triggers</a></li>
          <li><a href="">Views and Materialized Views</a></li>
          </ul>
      </div>
      </div>
      
      <footer class="footer">
        <div class="basic_dimensions basic_flex_row footerContainer">
            <div class="ftr_col ftr_col1">
              <p>Follow Us</p>
              <ul>
                <li><a href="">Facebook | </a></li>
                <li><a href="">Twitter | </a></li>
                <li><a href="">LinkedIn</a></li>
              </ul>
            </div>
            <div class="ftr_col ftr_col2">
            <p>Quick Links</p>
              <ul>
                <li><a href="">Home | </a></li>
                <li><a href="">Contact Us | </a></li>
                <li><a href="">Website Developer</a></li>
              </ul>
            </div>
            <div class="ftr_col ftr_col3">
            <p>Related Links</p>
            <ul>
                <li><a href="">SQL | </a></li>
                <li><a href="">T-SQL | </a></li>
                <li><a href="">Interview Questions |</a></li>
                <li><a href="">Queries |</a></li>
                <li><a href="">Concepts</a></li>
              </ul>
            </div>
        </div>
        <div class="ftrBottomDiv">
          <p>Copyrights &copy; 2022 SQLSite</p>
        </div>
    </footer>
  </body>
</html>
