---
// Styles

import prismStyles from "../styles/prism.css"
import globalStyles from "../styles/1_globalStyles.css"
import navStyles from "../styles/2_navStyles.css";
import rightMenu from "../styles/rightMenu.css";
import footerStyles from "../styles/3_footerStyles.css";

// JavaScript

//import prismJS from "../js/prism";

// Reponsive Styles

import media700 from "../styles/4_media_700_responsive.css"

// Components 


import NavigationComponent from "../components/webComponents/navigationComp.astro";
import SqlMenuComponent from "../components/rightMenuComponents/sqlMenuComp.astro";
import FooterComponent from "../components/webComponents/footerComp.astro";
import JsScriptsComponent from "../components/webComponents/jsScriptsComp.astro";


const {frontmatter} = Astro.props
---


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{frontmatter.title}</title>
        <meta name="description" content={frontmatter.description}>
        <meta name="keywords" content={frontmatter.keywords}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <JsScriptsComponent />
    </head>
    <body>
        <NavigationComponent />
        <div class="basic_dimensions basic_flex_row mainBlock">
            <div class="common_content_padding col_left">
              <slot />
            </div>
            <div class="common_content_padding col_right">
                <SqlMenuComponent/>        
            </div>
        </div>
        <FooterComponent />
    </body>
</html>